.add-device {
    height: 100%;
    align-items: center;
}
.add-device .header {
    display: flex;
    justify-content: space-between;
    padding: 40px 30px;
    align-items: center;
    width: 100%;
}
.add-device .header i {
    cursor: pointer;
}
.add-device .header h2 {
    font-size: 23px;
}
.add-device .note {
    text-align: center;
    padding: 50px;
    font-weight: lighter;
    color: #222425;
    font-size: 14px;
}
.add-device .options-container {
    max-height: calc(100dvh - 107px - 132px);
    overflow-y: auto;
    width: 650px;
    max-width: 90%;
    border: solid 1px #e1e2e3;
    box-shadow: var(--light-shadow);
    border-radius: var(--border-radius);
}
.options-container::-webkit-scrollbar-track {
    background-color: #f9f9f9;
}
.options-container::-webkit-scrollbar {
    width: 5px;
}
.options-container::-webkit-scrollbar-thumb:hover {
    background-color:var(--theme-color)
}
.add-device .options {
    opacity: 0;
    transition: all 0.6s;
    height: 450px;
}
.add-device.fade .options {
    opacity: 1;
}
.add-device .option > div {
    align-items: center;
    gap: 10px;
}
.add-device .option:first-of-type {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.add-device .option:last-of-type {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.add-device .option {
    padding: 30px;
    transition: all 0.3s;
    border: solid 1px transparent;
    border-bottom: solid 1px #e1e2e3;
    cursor: pointer;
}
.add-device .option:last-of-type {
    border-bottom: solid 1px transparent;
}
.add-device .option:hover {
    background-color: #f9f6ff;
    border: solid 1px var(--second-color);
}
.add-device .note, .add-device .options {

}
.add-device .option strong {
    font-size: 16px;
    margin-bottom: 10px;
}
.add-device .option span {
    font-size: 13px;
    color: #222425;
}
.add-device .option .img-loaded {
    width: auto;
}
.add-device .option:last-of-type .img-loaded {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-device .option img {
    width: 50px;
    height: 50px;
    transform: rotate(180deg);
    object-fit: contain;
}

.add-device .option:last-of-type img {
    transform: initial;
    width: 30px;
    height: 30px;
}