.tabs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 10px;
    position: sticky;
    top: -11px;
    background-color: var(--theme-bg);
    z-index: 100;
}
.compact .tabs::after {
    bottom: -8px;
}
.tabs::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #ddd;
    bottom: -12px;
    position: absolute;
}
.compact .tabs::before {
    bottom: -8px;
}
.tabs::before {
    content: '';
    height: 18px;
    background-color: var(--theme-bg);
    position: absolute;
    bottom: -12px;
    width: 100%;
}
.compact .tab {
    font-size: 14px;
}
.tab {
    color: var(--gray-text);
    padding: 0 10px;
    font-weight: 600;
    margin-top: 18px;
}
.compact .tab::after {
    bottom: -8px;
}
.tab::after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background-color: var(--theme-color);
    transition: all 0.3s;
    z-index: 1;
}
.activeTab, .tab:hover {
    color: var(--theme-color);
}
.activeTab::after, .tab:hover::after {
    width: 100%;
}